langchain==1.2.14
langchain-community==0.4.1
langchain-core==1.2.23
langchain-openai==1.1.12
langchain-text-splitters==1.1.1
chromadb==1.5.5
streamlit==1.56.0
pandas==3.0.2
openpyxl==3.1.5
dashscope==1.25.15
tiktoken==0.7.0
